<!-- <p
[id]="sayHelloId"
[class] = "className"
[style.color]="fontColor"
[style.fontSize]="fontSize"
[style.backgroundColor]="bgColor">
{{title}}
</p> -->
<app-navigation-bar></app-navigation-bar>
<router-outlet></router-outlet>
<app-footer class="footer"></app-footer>

<!-- <button type="button" [disabled]="canClick" (click)="sayMessage()">
  click for alert!
</button>

 <br>

<button type="button" (click)="onChangeEditStatus()">
  Change edit status!
</button>

<div *ngIf = "enableEdit;else cannotEdit">
  <p [style.color]="successColor">You can edit this paragraph</p>
</div>

<ng-template #cannotEdit>
  <p [style.color]="errorColor">You can not edit</p>
</ng-template>
<p [contentEditable] = "enableEdit">
  {{editStatusMessage}}
</p> -->
